*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 300px;
}

ul,li{
    list-style-type: none;
}

.logo{
    width: 90px;
}

.col-header{
    flex-basis: calc(100%/4);
}

.debug header{
    height: 50px;
    background-color: orange;
}

.debug footer{
    height: 50px;
    background-color: black;
}

.container-1{
    padding: 10px 0px;
}

.container-2{
    padding: 10px 0px;
}
.row{
    display: flex;
    justify-content: center;
}

.text{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.price{
    color: red;
}

.discount{
    color: gray;
    text-decoration: line-through;
}

main > p{
    font-family: 'Robot', sans-serif;
}

.col{
    flex-basis: calc(100%/4);
    position: relative;
}

.tag-like{
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 2px 2px;
    font-size: 20px;
    color: black;
    background: white;
    position: absolute;
    top: 5px;
    right: 13px;
}

.tag-discount{
    width: 39px;
    height: 19px;
    text-align: center;
    padding: 4px 0px;
    font-size: 10px;
    color: white;
    background: red;
    position: absolute;
    bottom: 70px;
    left: 0px;
}

.tag-text{
    width: 65px;
    height: 19px;
    text-align: center;
    padding: 4px 0px;
    font-size: 10px;
    color: white;
    background: green;
    position: absolute;
    bottom: 70px;
    left: 41px;
}

.tag-text2{
    width: 65px;
    height: 19px;
    text-align: center;
    padding: 4px 0px;
    font-size: 10px;
    color: white;
    background: green;
    position: absolute;
    bottom: 70px;
    left: 0px;
}
